<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <!--<script src="../js/index.js"></script>-->
    <title>Login</title>
</head>
<body>
    <recov-pass show="no"></recov-pass>
    <div id="body">
        <header>
            <div class="banner">
                Login
            </div>
            <hr>
            <nav class="outside">
                <span class="logo">Cite@Sion</span>
            </nav>
        </header>
        <main>
            <center><hr></center>
            <form action="" method="post">
                <div class="change-infos">
                    <div class="login-email">
                        <!--<label for="email">Email</label>-->
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="login-password">
                        <!--<label for="password">Password</label>-->
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="res-sub">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Submit">
                    </div>
                    <span>Pas encore un compte? <a href="sign-in.html">Inscrivez-vous ici.</a></span>
                    <button class="one-click" type="button">
                        Connectez-vous en un clic
                    </button>
                    <span class="recov-pass">Mot de passe oublié?</span>×
                </div>
            </form>
        </main>
        <footer>
            Copyright 2024 - Cite À Sion
        </footer>
    </div>
    <script src="../js/index.js"></script>
    <script type="module" src="../js/popup/forgotpass.js"></script>
    <script>
        document.querySelector(".recov-pass").addEventListener("click", ()=> {
            document.querySelector("recov-pass").setAttribute("show", "yes");
        });
    </script>
</body>
</html>