<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/logo.svg" type="image/x-icon">
    <title>My Quotes</title>
</head>
<body>
    <add-new show="no"></add-new>
    <div id="body">
        <me-nu active="my-quotes"></me-nu>
        <header>
            <div class="banner">
                My Quotes
            </div>
            <hr>
            <nav>
                <img src="../icons/menu-c.svg" alt="" class="menu-sky">
                <span class="logo">Cite@Sion</span>
                <img src="../icons/logout-c.svg" alt="">
            </nav>
        </header>
        <main>
            <form action="" method="get" class="search">
                <div class="my-citations">
                    <span>---- Trier par ----</span>
                    <select name="trier-par" id="search-by" title="Trier par">
                        <option value=""></option>
                        <option value="nom">Nom</option>
                        <option value="date">Date</option>
                        <option value="like">Nombre de j'aime</option>
                    </select>
                </div>
            </form>
            <center><hr></center>
            <section class="quotes">
                <article class="day quote">
                    <div class="quote-like">
                        <img src="../icons/favorite-c.svg" alt="">
                        <span class="likes">25k likes</span>
                    </div>
                    <div class="quote-content">
                        Es un hecho establecido hace demasiado
                        Commentez
                        tiempo que un lector se distraerá con el
                            No stories about this
                            contenido del texto de ucomo su texto por
                            citation now
                            defecto, y al hacer una búsqueda de "Lorem
                            Ipsum" va a dar por resultado muchos sitios
                            About
                            web que usan este texto si se encuentran en
                            estado de desarrollo. Muchas versiones han
                            evolucionado a través de los año<span class="quote-detail">see more ...</span>
                    </div>
                    <div class="quote-author">
                            Newton
                    </div>
                </article>
                <article class="quote">
                    <div class="quote-like">
                        <img src="../icons/favorite-c.svg" alt="">
                        <span class="likes">25k likes</span>
                    </div>
                    <div class="quote-content">
                            Es un hecho establecido hace demasiado
                            Commentez
                            tiempo que un lector se distraerá con el
                            No stories about this
                            contenido del texto de ucomo su texto por
                            citation now
                            defecto, y al hacer una búsqueda de "Lorem
                            Ipsum" va a dar por resultado muchos sitios
                            About
                            web que usan este texto si se encuentran en
                            estado de desarrollo. Muchas versiones han
                            evolucionado a través de los año<span class="quote-detail">see more ...</span>
                    </div>
                    <div class="quote-author">
                            Newton
                    </div>
                </article>
                <article class="quote">
                    <div class="quote-like">
                        <img src="../icons/favorite-c.svg" alt="">
                        <span class="likes">25k likes</span>
                    </div>
                    <div class="quote-content">
                            Es un hecho establecido hace demasiado
                            Commentez
                            tiempo que un lector se distraerá con el
                            No stories about this
                            contenido del texto de ucomo su texto por
                            citation now
                            defecto, y al hacer una búsqueda de "Lorem
                            Ipsum" va a dar por resultado muchos sitios
                            About
                            web que usan este texto si se encuentran en
                            estado de desarrollo. Muchas versiones han
                            evolucionado a través de los año<span class="quote-detail">see more ...</span>
                    </div>
                    <div class="quote-author">
                            Newton
                    </div>
                </article>
                <article class="quote">
                    <div class="quote-like">
                        <img src="../icons/favorite-c.svg" alt="">
                        <span class="likes">25k likes</span>
                    </div>
                    <div class="quote-content">
                            Es un hecho establecido hace demasiado
                            Commentez
                            tiempo que un lector se distraerá con el
                            No stories about this
                            contenido del texto de ucomo su texto por
                            citation now
                            defecto, y al hacer una búsqueda de "Lorem
                            Ipsum" va a dar por resultado muchos sitios
                            About
                            web que usan este texto si se encuentran en
                            estado de desarrollo. Muchas versiones han
                            evolucionado a través de los año<span class="quote-detail">see more ...</span>
                    </div>
                    <div class="quote-author">
                            Newton
                    </div>
                </article>
            </section>
            <button class="button-cta" type="button">Add new</button>
        </main>
        <footer>
            Copyright 2024 - Cite À Sion
        </footer>
    </div>
    <add-new></add-new>
    <script src="../js/index.js"></script>
    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/popup/publish.js"></script>
    <script>
        document.querySelector(".button-cta").addEventListener("click", ()=> {
            document.querySelector("add-new").setAttribute("show", "yes");
        });
    </script>
</body>
</html>