<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Profil</title>
</head>
<body>
    <div>
        <me-nu active="profil" show="no"></me-nu>
        <header>
            <div class="banner">
                Profil
            </div>
            <hr>
            <nav>
                <img src="../icons/menu-c.svg" alt="" class="menu-sky">
                <span class="logo">Cite@Sion</span>
                <img src="../icons/logout-c.svg" alt="">
            </nav>
        </header>
        <main>
            <center><hr></center>
            <div class="profil">
                <img src="../picts/ex_profil.png" alt="">
                <div class="profil-detail">
                    <div class="profil-subject">Pseudo:</div>
                    <div class="profil-subject-detail">Fanta</div>
                    <div class="profil-subject">Email:</div>
                    <div class="profil-subject-detail">cas@email.com</div>
                    <div class="profil-subject">Vous êtes:</div>
                    <div class="profil-subject-detail">Poète</div>
                    <button class="profil-update" type="button">Modifier</button>
                </div>
            </div>
        </main>
        <footer>
            Copyright 2024 - Cite À Sion
        </footer>
    </div>
    <script src="../js/index.js"></script>
    <script type="module" src="../js/menu.js"></script>
</body>
</html>