<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Settings</title>
</head>
<body>
    <div>
        <header>
            <div class="banner">
                Paramètres
            </div>
            <hr>
            <nav>
                <img src="../icons/menu-c.svg" alt="">
                <span class="logo">Cite@Sion</span>
                <img src="../icons/logout-c.svg" alt="">
            </nav>
        </header>
        <main>
            <center><hr></center>
            <form action="" method="post">
                <div class="change-infos">
                    <div class="settings-pseudo">
                        <input type="text" name="pseudo" id="pseudo">
                    </div>
                    <div class="settings-you-are">
                        <select name="" id="">
                            <option value="">Philosophe</option>
                            <option value="">Amateur</option>
                            <option value="">Écrivain</option>
                            <option value="">Poète</option>
                        </select>
                    </div>
                    <div>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="settings-password">
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="settings-confirm-password">
                        <input type="password" name="confirm-password" id="confirm-password">
                    </div>
                    <input type="file" name="choose-avatar" id="choose-avatar">
                    <div class="res-sub">
                        <input type="reset" value="Cancel">
                        <input type="submit" value="Submit">
                    </div>
                    <button class="del-account" type="button">
                        Supprimer votre compte
                    </button>
                </div>
            </form>
        </main>
        <footer>
            Copyright 2024 - Cite À Sion
        </footer>
    </div>
</body>
</html>