<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Sign-in</title>
</head>
<body>
    <div>
        <header>
            <div class="banner">
                Inscription
            </div>
            <hr>
            <nav class="outside">
                <span class="logo">Cite@Sion</span>
            </nav>
        </header>
        <main>
            <center><hr></center>
            <form action="" method="post">
                <div class="change-infos">
                    <div class="sign-in-pseudo">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" name="pseudo" id="pseudo">
                    </div>
                    <div class="sign-in-you-are">
                        <span>---- Vous êtes? ----</span>
                        <select name="you-are" id="you-are" title="you-are">
                            <option value="nan"></option>
                            <option value="">Philosophe</option>
                            <option value="">Amateur</option>
                            <option value="">Écrivain</option>
                            <option value="">Poète</option>
                        </select>
                    </div>
                    <div class="sign-in-email">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="sign-in-password">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="sign-in-confirm-password">
                        <label for="confirm-password">Confirm</label>
                        <input type="password" name="confirm-password" id="confirm-password">
                    </div>
                    <div class="res-sub">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Submit">
                    </div>
                    <span>Avez-vous déjà un compte? <a href="login.html">Connectez-vous ici.</a></span>
                    <button class="one-click" type="button">
                        Inscrivez-vous en un clic
                    </button>
                </div>
            </form>
        </main>
        <footer>
            Copyright 2024 - Cite À Sion
        </footer>
    </div>
</body>
</html>